@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  overflow-x: hidden;
}

body {
  padding-top: 66px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  /*    background-image: linear-gradient(90deg, var(--pink), #fff);*/
}

.wrapper-main {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --innuendo: #ab2e56;
  --lightgray: #e5e5e5;
  --gray: #4d5974;
}

/* Scroll to top button */

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 60px;
  width: 60px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  user-select: none;
}

#progress i {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #212529;
}

/* Navigation Bar */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar>.container-fluid  {
  max-width: 90rem;
}

.navbar,
.navbar-expand-lg,
.bg-body-tertiary {
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 1000;
  background: linear-gradient(90deg, #111, var(--innuendo));
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo {
  width: 5rem;
  height: auto;
}

.navbar-brand {
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1rem;
  margin-right: 25px;
}

.navbar-nav .nav-link:hover {
  transition: color 0.6s;
}

/* Intro */

#intro {
  padding: 4rem 0 5rem;
  background-color: #000;
}

.intro_container {
  position: relative;
  background-color: #000;
}

.intro_container img {
  display: block;
  width: 60%;
  height: auto;
  filter: brightness(40%);
  box-sizing: border-box;
  margin: 0 auto;
}

.intro_text {
  display: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* About me */

#about {
  background-color: #111;
  padding-top: 7rem;
  display: flex;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 87.5rem;
  margin: 0 auto;
}

.about-left,
.about-right {
  width: 50%;
  color: #fff;
}

.about-right {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 5rem;
}
}

.about-right-text p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.about-left img {
  width: 100%;
  max-width: 100%; /* Prevent it from overflowing */
  height: auto;
  display: block;
}

.about-right h3 {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.about-right h4 {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
  color: var(--innuendo);
}

/* Pricing */

#pricing {
  padding: 7rem 0;
}

#pricing h2,
#feedback h2,
#faq h2 {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
}

.price_container {
  max-width: 87.5rem;
  margin: 0 auto;
}

.price_list {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price_list:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.standard .price_header,
.delux .price_header {
  border-bottom: 1px solid #eee;
  padding-bottom: 1.7rem;
  text-align: center;
}

.btn {
  background-color: var(--innuendo);
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 1s ease;
  margin: 0 auto;
}

.btn:hover {
  background-color: var(--innuendo);
  transition: inherit;
  color: #fff;
  transform: scale(1.1, 1.1);
  transform-origin: center center;
}

.btn,
.btn:visited {
  color: #fff !important;
  background-color: var(--innuendo) !important;
  outline: none;
  box-shadow: none;
}

.standard,
.delux {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 2rem auto;
}

.standard .price_list,
.delux .price_list {
  position: relative;
  overflow: hidden;
  padding: 3rem;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  max-width: 28rem;
}

.standard li,
.delux li {
  padding-bottom: 2rem;
}

.standard .price,
.delux .price {
  padding-top: 3rem;
}

.price_header {
  font-size: 2.7rem;
  text-transform: uppercase;
}

.price {
  font-size: 3.5rem;
  font-weight: 500;
}

.price sup {
  font-size: 2rem;
}

.price .discount_price {
  text-decoration: line-through;
  font-size: 2rem;
}

.price_desc {
  font-weight: 300;
}

.price_list .discount_text {
  position: absolute;
  transform: translateY(72.5%) translateX(23.8%) rotate(45deg);
  font-size: 1.2rem;
  background-color: var(--innuendo);
  padding: 4px 2.4rem;
  pointer-events: none;
  color: #fff;
  top: 0;
  right: 0;
}

.extra {
  margin: 2rem auto 0;
  max-width: 977px;
}

.extra .price_list {
  padding: 1rem;
}

.extra .price_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.extra .price_header {
  font-weight: 400;
}

.extra span {
  font-size: 1.5rem;
}

.extra .price:not(.price_header) {
  background-color: var(--innuendo);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.extra .price {
  color: #fff;
}

.extra .price sup {
  font-size: 1rem;
}

/* Feedback */

#feedback {
  position: relative;
  padding: 7rem 0;
  background-image: linear-gradient(90deg, var(--innuendo), #fff);
}

.swiper {
  max-width: 70rem;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.swiper-wrapper {
  cursor: grab;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10rem;
  text-align: center;
  gap: 0.5rem;
}

.swiper-slide img {
  width: 8rem;
  border-radius: 50%;
}

.swiper-slide q {
  display: block;
  margin: 1rem auto 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-style: italic;
  font-weight: 100;
}

.swiper-slide q i {
  margin: 0 1rem;
  font-size: 1.3rem;
}

.swiper-slide h5 {
  margin: 1rem 0;
  font-size: 1.7rem;
  font-weight: 600;
}

.swiper-pagination {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  transition: transform 0.6s ease;
  cursor: none;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  transition: opacity 0.6s;
  transform: scale(1.7);
}

.swiper-button {
  user-select: none;
  outline: none;
  --swiper-navigation-size: 44px;
  opacity: 0.5;
  transition: opacity 0.6s;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2.7rem;
  font-weight: 900;
  color: #000;
}

.swiper-button:hover {
  opacity: 1;
  transition: opacity 0.6s;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-sides-offset: 15%;
}

/* Accordion */

#faq {
  padding: 7rem 0;
}

.accordion {
  width: 50%;
  margin: 0 auto;
  --bs-accordion-btn-color: #000;
  --bs-accordion-color: #000;
  --bs-accordion-active-color: #000;
}

.accordion-button {
  font-weight: 700;
}

.accordion-item:hover {
  --bs-accordion-btn-color: var(--innuendo);
  --bs-accordion-active-color: var(--innuendo);
}

.accordion-button.collapsed {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
  background-color: var(--innuendo);
  color: #fff;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.accordion-button:focus {
  box-shadow: none;
}

/* Contact */

#contact {
  padding: 7rem 0;
  background-color: #000;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  margin: 5rem 2rem;
}

.contact-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-right {
  user-select: none;
}

.contact-right img {
  width: 100%;
  max-width: 700px;
}

.contact-inputs {
  width: 500px;
  height: 50px;
  border: 2px solid #ccc;
  outline: none;
  padding: 18px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #000;
  border-radius: 0.375rem;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

form .contact-input-container .incorrect input,
form .contact-input-container .incorrect textarea {
  border-color: #d53b6c;
  background-color: #ffd5d5;
}

form .contact-input-container p {
  color: #d53b6c;
  margin-top: 0.5rem;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.fa-paper-plane:before {
  content: "\f1d8";
}

.contact-left form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #fff;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  height: 5px;
  background-color: var(--innuendo);
  border-radius: 0.375rem;
  margin-bottom: 20px;
  opacity: 1;
}

.contact-left textarea {
  height: 210px;
  padding-top: 15px;
  border-radius: 0.375rem;
}

.g-recaptcha {
  height: 82px;
}

.contact-left button {
  display: inline-block;
  height: 50px;
  font-size: 1.1rem;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--innuendo);
  cursor: pointer;
  outline: none;
}

.contact-left button span,
.contact-left button i {
  display: inline-block;
  transition: all 0.6s;
}

.contact-left button span {
  transform: translateX(0.5rem);
}

.contact-left button i {
  transform: translateX(0.5rem);
  opacity: 0;
}

.contact-left button:hover span,
.contact-left button:hover i {
  transform: translateX(0rem);
  opacity: 1;
}

.contact-left h5 {
  margin: 3rem 0 0;
  color: #fff;
  font-size: 1.2rem;
}

.contact-left hr:not(.contact-left-title hr) {
  border: none;
  width: 145px;
  height: 5px;
  background-color: var(--innuendo);
  border-radius: 0.375rem;
  margin-bottom: 20px;
  opacity: 1;
}

.contact-details {
  display: flex;
  gap: 3rem;
  color: #fff;
  margin-top: 1.3rem;
}

.contact-details div {
  transition: all 0.6s;
}

.contact-details div:hover {
  color: var(--innuendo);
  transition: all 0.6s;
}

.contact-details .phone,
.contact-details .email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-details p {
  font-size: 1rem;
}

.contact-details p a {
  text-decoration: none;
  color: inherit;
}

.contact-details i {
  font-size: 1.6rem;
}

/* Footer */

footer {
  background-color: #111;
}

.footerContainer {
  width: 100%;
  padding: 50px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 50%;
  transition: all 0.6s ease;
}

.socialIcons a i {
  font-size: 2em;
  color: #000;
  transition: all 0.6s ease;
}

.socialIcons a:hover {
  background-color: var(--innuendo);
  transition: all 0.6s ease;
}

.socialIcons a:hover i {
  color: #fff;
  transition: all 0.6s ease;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.1em;
  transition: all 0.6s ease;
  text-transform: uppercase;
}

.footerNav ul li a:hover {
  transition: all 0.6s ease;
  color: var(--innuendo);
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: var(--innuendo);
}

@media (max-width: 1463px) {
  .about-container {
    padding: 0 1rem;
  }
}

@media (max-width: 1280px) {
  .contact-inputs {
    width: 400px;
  }
  .contact-details {
    flex-direction: column;
    gap: 1.5rem;
  }
  .contact-left {
    margin: 2rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    --swiper-navigation-sides-offset: 8%;
  }
}

@media (max-width: 1170px) {
  .navbar-nav .nav-link {
    margin-right: 0;
  }
  .intro_container img {
    width: 100%;
  }
  .about-left img {
    max-width: 22rem;
  }
  .about-right {
    padding: 0;
  }
  .about-container {
    max-width: 58.5rem;
  }
}

@media (max-width: 1029px) {
  .standard,
  .delux,
  .extra {
    padding: 0 1rem;
  }
  .standard .price_list,
  .delux .price_list {
    margin: 0 auto;
  }
  .accordion {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .contact-inputs {
    width: 300px;
  }
  .navbar-nav {
    align-items: center;
    margin-top: 2rem;
  }
}

@media (max-width: 955px) {
  .standard,
  .delux {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .extra {
    max-width: 474px;
  }
  .standard .price_list,
  .delux .price_list {
    width: 70%;
  }
}

@media (max-width: 801px) {
  .contact-inputs {
    width: 80vw;
  }
  .contact-right {
    display: none;
  }
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .about-left img {
    max-width: 18rem;
  }
}

@media (max-width: 676px) {
  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .about-left,
  .about-right {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .about-right-text p {
    padding-bottom: 3rem;
    word-wrap: break-word;
  }
  .about-left img {
    max-width: 100%;
  }
  .accordion {
    width: 80%;
  }
}

@media (max-width: 623px) {
  .standard .price_list,
  .delux .price_list {
    padding: 2rem;
  }
  .price_list .discount_text {
    transform: translateY(52.5%) translateX(29.8%) rotate(45deg);
  }
}

@media (max-width: 577px) {
  .standard .price_list,
  .delux .price_list {
    padding: 3rem 1rem 1rem 1rem;
  }
  .standard .price_list,
  .delux .price_list {
    width: 90%;
  }
  .swiper-slide {
    padding: 0 6rem;
  }
}

@media (max-width: 488px) {
  .about-left,
  .about-right {
    width: 100%;
    text-align: center;
  }
  .about-left img {
    margin: 0 auto;
  }
}

@media (max-width: 465px) {
  .standard,
  .delux {
    padding: 0;
  }
  .extra {
    padding: 0 0.5rem;
  }
}

@media (max-width: 388px) {
  .standard .price_list,
  .delux .price_list {
    padding: 1rem;
  }
}

@media (max-width: 336px) {
  .extra .price_item {
    flex-direction: column;
    gap: 0.6rem;
    padding-bottom: 1rem;
  }
  .extra .price_header {
    text-align: center;
  }
  .contact-left {
    margin: 2rem 1rem;
  }
}

@media (max-width: 305px) {
  .swiper-slide {
    padding: 0 4rem;
  }
}

@media (max-width: 245px) {
  .swiper-slide {
    padding: 0 3rem;
  }
}
